header { 
    background-color:darkgreen;
    width: 1335px;
    margin: auto;
    
    }
	#whole {
	width: 1600px;
    margin: auto;
    }
    
    #social-media {
        float:right;
		margin-top: px;
    }
    #social-media ul li {
        display:inline;
        height:300px;
        width:30px;
		margin-left: 5px;
        }
    td {
        color: wheat;
       
    }
    
    
    hr { width:1020px;
         border: 3px solid wheat;
    }
    #logo {
        float: left;
        padding-top:100px;
        color:white;
        margin-left:20px;
        margin-top:20px;
    }
    footer { 
       
        height: 10px;
        width: 1335px;  
    }

    .navigation {
		margin-top:-8px;
        background-color: #451952; 
        padding: 20px;
		height: 70px;
        width: 1295px;
    }
    
    .navigation a {
        text-decoration: none; 
    }
    
    .navigation button {
		border-style:solid;
		color: black;
        padding: 10px 20px; 
        margin-right: 10px; 
        cursor: pointer;
        border-radius: 2px; 
		margin-top: 12px;
    }
    
    .navigation button:hover {
        background-color: #0ac56e;
    }
    
    section{
        width:900px;
		height: 300px;
    }
    
    article{
       
		width:900px;
        background-color: #DA8E9A;
		height: 300px;
        margin-top:-18px;
    }
    aside{
		
        background-color: #FFA500;
		height: 587px;
		width:450px;
        float: right;
       margin-top: -300px;
      
    }
	
	.image {
	 width:300px;
	 height:300;
	 margin-top:7px;
	 margin-left: 80px;
     margin-bottom: -0.40px;
     image-resolution: 1000px;
	}
	
	.picture {
	width:300px;
	 height:300;
	 margin-top:7px;
	 margin-left: 80px;
     margin-bottom: -0.40px;
     image-resolution: 1000px;
	}
	 main{
        height: 600px;
        width: 1335px;
        
     }
	
	
	video {
		 height: 150px ;
		 margin-top:20px;
		 margin-left: 87px;
         width: 300px;
	}

    .buttom {
		margin-top:-15px;
        flex: 70%; 
        background-color:	#CC6CE7;
		height: 150px;
    }
    .name {
		color: rgba(3, 247, 255, 0.959);
		 text-align: center;
    }